<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie Website</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>

<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3">
                            <h4><a href="#" th:href="@{'/movies/sortby/id/page/1'}" th:text=Movies style="color: #FFFFFF">Tasty Goodnees 3</a></h4>
                        </div>
                        <div class="col-md-3">
                            <h4><a href="#" th:href="@{'/actors/sortby/id/page/1'}" th:text=Actors style="color: #FFFFFF">Tasty Goodnees 3</a></h4>
                        </div>
                        <div class="col-md-3">
                            <h4><a href="#" th:href="@{'/countries'}" th:text="'By country'" style="color: #FFFFFF">Tasty Goodnees 3</a></h4>
                        </div>
                        <div class="col-md-3">
                            <h4><a href="#" th:href="@{'/categories'}" th:text="'By category'" style="color: #FFFFFF">Tasty Goodnees 3</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>Chloe's Movie List!</h4>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-default" href="#"
                               th:href="@{'/movie/find'}" role="button">Find Movies</a>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-default" href="#"
                               th:href="@{'/movie/add'}" role="button">Add Movie</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${movieList != null && !movieList.isEmpty()}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>Poster</th>
                                <th><a href="#" th:href="@{'/movies/sortby/title/page/1'}">Title</a></th>
                                <th><a href="#" th:href="@{'/movies/sortby/rating/page/1'}">Rating</a></th>
                                <th><a href="#" th:href="@{'/movies/sortby/length/page/1'}">Length</a></th>
                            </tr>
                            </thead>
                            <tr th:each="movie: ${movieList}">
                                <td><img src="../../static/images/soul.jpg"
                                         th:src="@{'/movie/' + ${movie.id} + '/poster'}"
                                         width="50" height="75"></td>
                                <td><a href="#" th:href="@{'/movie/' + ${movie.id} + '/display'}" th:text="${movie.title}">Tasty Goodnees 3</a></td>
                                <td th:text="${movie.rating}">10.0</td>
                                <td th:text="${(movie.length) != null} ? ${(movie.length) + ' min'}">100 min</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row" th:if="${pageNumbers != null && pageNumbers.size() > 1}" th:fragment="pagination">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <nav aria-label="Pagination">
                        <ul class="pagination justify-content-center">
                                <li class="page-item"><a class="page-link" th:if="${!moviePage.isFirst()}" th:href="@{|/movies/sortby/${field}/page/${moviePage.getNumber()}|}">prev</a></li>
                                <li class="page-item" th:each="pageNumber : ${pageNumbers}" th:switch="${pageNumber == moviePage.getNumber() + 1}">
                                    <a th:case="true" class="page-link" th:href="@{|/movies/sortby/${field}/page/${pageNumber}|}" th:text="${pageNumber}" style="color: red">1</a>
                                    <a th:case="false" class="page-link" th:href="@{|/movies/sortby/${field}/page/${pageNumber}|}" th:text="${pageNumber}">1</a>
                                </li>
                                <li class="page-item"><a class="page-link" th:if="${!moviePage.isLast()}" th:href="@{|/movies/sortby/${field}/page/${moviePage.getNumber() + 2}|}">next</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-2"></div>
            </div>

        </div>
    </div>
</div>
</body>
</html>